.table2Wrap {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.tableRow {
  display: grid;
  gap: 10px;

  grid-template-columns: 10% 90%;
}

.buttonContainer {
  display: grid;
  gap: 10px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
