.tablesWrap {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.tablesRow {
  display: grid;
  gap: 20px;

  grid-template-columns: 210px 70%;
}

.buttonContainer {
  display: grid;
  gap: 10px;

  /* grid-template-columns: 210px 210px 210px 210px; */
}
