.App {
  text-align: center;
}

.tableTop {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.tableBottom {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
